### basics

In [18]:
app = 'basics'

In [19]:
#finding spark
import findspark
findspark.init('/home/pfcor/spark-2.1.0-bin-hadoop2.7')

# inti session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName(app).getOrCreate()

<hr>

In [20]:
df = spark.read.json('people.json')

In [21]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [22]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [23]:
df.columns

['age', 'name']

In [24]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

Definindo o *schema*

In [25]:
# importando os tipos necessÃ¡rios
from pyspark.sql.types import StructField, StringType, IntegerType, StructType

# criando o schema -> um item na lista para cada campo
data_schema = [
    StructField('age', IntegerType(), True), #StructField(`nome_da_variavel`, `Tipo()`, `nullable`)
    StructField('name', StringType(), True)
]

# construindo a estrutura final
final_struc = StructType(fields=data_schema)

In [26]:
# lendo o arquivo novamente, agora passando o schema
df = spark.read.json('people.json', schema=final_struc)

In [27]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

<hr>

acessando dados

In [59]:
# colunas
df['age']

Column<b'age'>

In [42]:
df.select('age')

DataFrame[age: int]

In [43]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [51]:
#selecionando mais de uma coluna
df.select(['name', 'age']).show()

+-------+----+
|   name| age|
+-------+----+
|Michael|null|
|   Andy|  30|
| Justin|  19|
+-------+----+

In [57]:
# criando uma nova coluna
df.withColumn('doubleage', df['age']*2).show() # not inplace operation

+----+-------+---------+
| age|   name|doubleage|
+----+-------+---------+
|null|Michael|     null|
|  30|   Andy|       60|
|  19| Justin|       38|
+----+-------+---------+

In [58]:
# renomeando uma coluna
df.withColumnRenamed('age', 'my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [61]:
# sql
df.createOrReplaceTempView('people')

In [64]:
results = spark.sql(
    """
    SELECT
        *
    FROM
        people
    WHERE 
        age > 20
    """
)

results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+