### missing

In [1]:
app = 'missing'

In [2]:
#finding spark
import findspark
findspark.init('/home/pfcor/spark-2.1.0-bin-hadoop2.7')

# inti session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName(app).getOrCreate()

<hr>

In [3]:
df = spark.read.csv('ContainsNull.csv', header=True, inferSchema=True)

drop

In [4]:
df.show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2| null| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [11]:
df.na.drop(thresh=2).show() # pelo menos 2 valores não nulos para não ser dropado

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [8]:
df.na.drop(how='all').show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2| null| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [9]:
df.na.drop(subset=['Sales']).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

fill

In [15]:
df.na.fill('FILL VALUE').show() # preencheu apenas o campo com tipo STRING

+----+----------+-----+
|  Id|      Name|Sales|
+----+----------+-----+
|emp1|      John| null|
|emp2|FILL VALUE| null|
|emp3|FILL VALUE|345.0|
|emp4|     Cindy|456.0|
+----+----------+-----+

In [16]:
df.na.fill(0).show() # preencheu apenas o campo com tipo INTEGER

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|  0.0|
|emp2| null|  0.0|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [17]:
df.na.fill('NONAME', subset=['Name']).show() #subset explícito

+----+------+-----+
|  Id|  Name|Sales|
+----+------+-----+
|emp1|  John| null|
|emp2|NONAME| null|
|emp3|NONAME|345.0|
|emp4| Cindy|456.0|
+----+------+-----+

In [31]:
#imputando com a média
from pyspark.sql.functions import mean

mean_val = df.select(mean(df['Sales'])).collect()[0][0] # indices para retirar valor de lista de Row()
print('valor médio: {}'.format(mean_val))

valor médio: 400.5

In [32]:
df.na.fill(mean_val, subset=['Sales']).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|400.5|
|emp2| null|400.5|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+